@import "tailwindcss";
body{
 background-color: #111; 
}
@font-face {
    font-family: font-1;
    src: url(/fonts/Lausanne-300.woff2);
}
@font-face {
    font-family: font-2;
    src: url(/fonts/Lausanne-500.woff2);
}
.moveX{
    animation-name: moveAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes moveAnimation {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }   
}