@import "tailwindcss";
body{
 background-color: #111; 
}
@font-face {
    font-family: font-1;
    src: url(/fonts/Lausanne-300.woff2);
}
@font-face {
    font-family: font-2;
    src: url(/fonts/Lausanne-500.woff2);
}